<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46636267387-370q35lgi2552fti30s6j77dnropscu0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46636267387-370q35lgi2552fti30s6j77dnropscu0</string>
	<key>API_KEY</key>
	<string>AIzaSyCcfdosoJcA8MN_tpcuLCCJzU5whvxmbsg</string>
	<key>GCM_SENDER_ID</key>
	<string>46636267387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bw.co.bonakoonline</string>
	<key>PROJECT_ID</key>
	<string>bonako-dial2sell-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bonako-dial2sell-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46636267387:ios:995c3cc2cddb2c2db6afde</string>
</dict>
</plist>